<!--The content below is only a placeholder and can be replaced.-->


  <app-header></app-header>
  <router-outlet></router-outlet>
  <!-- <app-note></app-note> -->

  <!-- <div class="keep-comp-note-taker-panel">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          This is the expansion title
        </mat-panel-title>
      
      </mat-expansion-panel-header>
      <div class="keep-comp-note-taker-wrapper">
        <mat-form-field>
          <input [(ngModel)]="note.title" matInput placeholder="Title" type="text">
          </mat-form-field>
          <mat-form-field>
            <textarea [(ngModel)]="note.text" matInput placeholder="text"></textarea>
           
          </mat-form-field>
      </div>
      <div class="keep-comp-button">
        <button mat-button (click)="takeNotes()">Submit</button>
      </div>
    </mat-expansion-panel>
  </div>
 

  <mat-card *ngFor="let note of notes">
    <mat-card-title>{{note.title}}</mat-card-title>
    <mat-card-content>{{note.text}}</mat-card-content>
  </mat-card>
 -->